@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap');

body{
    background-color: #e9ecef;
    font-family: 'DM Sans', sans-serif;
    color: black;
}

a{
    text-decoration: none;
    color: black
}
a:hover{
    color: black;
}

span{
    font-size: 1.2rem;
}

.color-primary{
    color: #F77F00;
}

.border-color{
    border-color: #F77F00;
}

.background-primary{
    background-color: #F77F00;
}
.title-header{
    font-weight: 700;
    font-size: 2rem;
}
.title-focus{
    font-style: italic;
    color: #F77F00;
}
.search-area{
    border-radius: 6px;
    width: 25rem;
    border-color: #e9ecef;
}

#search-btn{
    border: none;
    background: none;
}

#search-btn i{
    font-size: 1.5em;
}

.my-github{
    height: calc(100vh - 300px);
}

.languages span{
    font-size: 12pt;
}

#typed-strings{
    font-size: 1.5rem;
}

#header img{
    width: 10rem;
}

#tela-inicial{
    height: 100vh;
}

.repo{
    border-bottom: 1px solid #ffff;
}

#users-example.card-body{
    height: 18rem;
}

#users-example.card-body:hover{
    background: rgb(255, 238, 238);
}
#users-example.card-body i{
    color: #f77f00;
    font-size: 1.5rem;
}

#users-example .card-footer{
    background: #f77f00;
    height: 7rem;
}

#users-example .card-footer p{
    overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

#user-img img{
    border-radius: 50%;
    width: 20rem;
}   

@media (max-width: 768px) { 
    .search-area{
        width: 15rem;
    }
}


/* Cores */
.java{
    background-color: #f9c74f; 
}

.c{
    background-color: #90be6d;
}